*{
	padding: 0;
	margin: 0;
	font-family: 思源黑体;
	list-style-type: none;
	
}


/* 第一大部分开始 */
/* 顶部 */
 .bigbox .dingbu{ 
	 width: 1200px;
	 height: 42px;
	
	 
	 margin: 0 auto;
	overflow: hidden;
	margin-top: 20px;
 }
 .dingbu img{
	float: left;	
	margin-top: 10px;
 }
.dingbu h1 {
	float: left;
	margin: 0 auto;
	margin-left:200px;
border-left: 50px;
padding-top: 0px;
/* background-color: aliceblue; */
font-size: 40px;
width: 400px;
height: px;
text-align: center;
text-transform: uppercase;

}

 .dingbu  ul {
	 padding-top: 4px;
	 float: right;
	 overflow: hidden;
	
	 margin-top: 17px;
 } 
 .dingbu ul li{
	 float: left;
	 list-style-type: none;
font-size: 14px;
margin-right: 5px;
 }
 
.dingbu ul li a{ text-decoration: none;
color: #666666;
font-weight: bold;

}

.dingbu ul li img{
	width:14px;
	height: 14px;
	margin-top: 2px;
}


/* 第二部分 */
/* 导航开始 */
/* 导航开始 */
.navigation {
	background-color: #FFFFFF;
	font-weight: 540;
	width: 1200px;
	
	margin: 0 auto;
}

.navigation-list {
	font-size: 0;
	padding-top: 30px;
	padding-bottom: 10px;
	margin-left: 305px;
	
}

.navigation-item {
	font-size: 20px;
	float: left;
	margin: 0 auto;
	list-style-type: none;
}

.navigation-link {
	display: block;
	position: relative;
	padding: 5px 30px;
	text-decoration: none;
	color: #333;
	-webkit-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

.navigation-link:before {
	content: "";
	position: absolute;
	bottom: 0;
	width: 0;
	border-bottom: solid 2px;
}

.navigation-link:before {
	left: 0;
}

.navigation-link:hover {
	color: #009688;
}

.navigation-link:hover:before {
	width: 100%;
}

.navigation-link:before {
	-webkit-transition: width .2s ease-in-out;
	transition: width .2s ease-in-out;
}

/* 导航结束 */

/* bnnner部分 */
ul,li {list-style: none;}
a {text-decoration: none;color: black;}
.box{width: 100%;height: 750px;margin: 20px auto;overflow: hidden;position: relative;margin-top: 40px;
}
.box-1 ul{}
.box-1 ul li{width: 1920px;height: 750px;position: relative;overflow: hidden;}
.box-1 ul li img{display:block;width: 1920px; height: 750px;}
.box-1 ul li h2{position: absolute;left: 0;bottom: 0;height: 40px;width:300px;background: rgba(125,125,120,.4);text-indent: 2em;
				padding-right:500px ;font-size: 15px;line-height: 40px;text-overflow: ellipsis;overflow: hidden;
				white-space: nowrap;font-weight: normal;color: ghostwhite}
.box-2{position: absolute;right: 10px;bottom: 14px;}
.box-2 ul li{float:left;width: 12px;height: 12px;overflow: hidden; margin: 0 5px; border-radius: 50%;
				background: rgba(0,0,0,0.5);text-indent: 100px;cursor: pointer;}
.box-2 ul .on{background: rgba(255,255,255,0.6);}
.box-3 span{position: absolute;color: white;background: rgba(125,125,120,.3);width: 50px;height: 80px;
				top:50%; font-family: "宋体";line-height: 80px;font-size:60px;margin-top: -40px;
				text-align: center;cursor: pointer;}
.box-3 .prev{left: 10px;}
.box-3 .next{right: 10px;}
.box-3 span::selection{background: transparent;}
.box-3 span:hover{background: rgba(125,125,120,.8);}
/* 轮播图结束 */

/* 商城开始 */
/* 时装标题 */
.dabeijin .btt{
	width: 1200px;
	height: 48px;
	
	margin: 0 auto;
	margin-bottom: 148px;
}
.btt img{margin-left:503px;
margin-top: 102px;
}

/* 头部导航开始 */
.daohangkuang{
	width: 1200px;
	height: 113px;   margin: 0 auto;
	margin-top: 48px;
	background-color: #FFFFFF;
}


.daohangkuang ul .we{
	width: 260px;
	height: 80px;
	
	padding-top:30px; padding-left: 30px;
	font-size: 20px;color: #666666; font-weight: 700;
	float: left; 
	border-left: 1px solid #E9E8E8;
	background-color: #FFFFFF;
	text-transform: uppercase;
}

.daohangkuang ul .we span{
	font-size: 26px;
}

.daohangkuang ul .we:hover{
	background-color: #666666;
	color: #F8F8FF;
}

.dabeijin{
	width: 1200px;
	height: 1600px;
	background-color: #ECECEC;
	margin: 0 auto;position: relative;top: -19px;
}
.shupaikuang{
	width: 380px;
	height: 1000px;
	background-color: #FFFFFF;
	float: left;
	border: 1px solid #ECECEC;
}
.shupaikuang p{
	font-size: 26px;color: #333333;font-weight: bold;
	margin-top: 40px;margin-left: 6px;
}

.shupaikuang ul li {
	width: 331px;
	height: 80px;
	
	margin-left: 20px;
}
.shupaikuang .diyihang .jiagebiao1 p{
	font-size: 18px;color: #999999;
	margin-top: 16px;
	
}
.shupaikuang .jiagebiao1 span{
	font-size: 22px;color: #eb9c44;font-weight: 700;
}

.shupaikuang .jiagebiao2 .pailie {
	width: 331px;
	height: 80px;
	
	margin-left: 20px;margin-bottom: 10px;
}
.shupaikuang .jiagebiao2 .pailie p{
	font-size: 18px;color: #999999;
	margin-top: 16px;
}
.shupaikuang .jiagebiao2 .pailie .fangda{
	font-size: 22px;color: #666666;
}
.shupaikuang .jiagebiao2 .pailie .jinqian{
	font-size: 22px;color: #eb9c44;
}
.shupaikuang .yanse .yanseyuan1{
	width: 34px;
	      height: 34px;
	      background: #a9b9cd;
		  border: 1px solid  #a9b9cd;
	      border-radius: 50%
}
.shupaikuang .yanse .yanseyuan2{
	width: 34px;
	      height: 34px;
	      background: #21475a;
		  border: 1px solid  #21475a;
		  
	      border-radius: 50%
}
.shupaikuang .yanse .yanseyuan3{
	width: 34px;
	      height: 34px;
	      background: #391f14;
		  border: 1px solid  #391f14;
		  
	      border-radius: 50%
}
.shupaikuang .yanse .yanseyuan4{
	width: 34px;
	      height: 34px;
	      background: #dfb380;
		  border: 1px solid  #dfb380;
		  
	      border-radius: 50%
}
.shupaikuang .yanse .yanseyuan5{
	width: 34px;
	      height: 34px;
	      background: #9d0005;
		  border: 1px solid  #9d0005;
		  
	      border-radius: 50%
}
.shupaikuang .yanse .yanseyuan6{
	width: 34px;
	      height: 34px;
	      background: #a9b9cd;
		  border: 1px solid  #a9b9cd;
		  
	      border-radius: 50%
}
.shupaikuang .yanse .yanseyuan7{
	width: 34px;
	      height: 34px;
	      background: #4b4b5f;
		  border: 1px solid  #4b4b5f;
		  
	      border-radius: 50%
}
.shupaikuang .yanse .yanseyuan8{
	width: 34px;
	      height: 34px;
	      background: #db8862;
		  border: 1px solid  #db8862;
		  
	      border-radius: 50%
}
.shupaikuang .yanse .yanseyuan9{
	width: 34px;
	      height: 34px;
	      background: #c0b8b4;
		  border: 1px solid  #c0b8b4;
		  
	      border-radius: 50%
}
.shupaikuang .yanse .yanseyuan10{
	width: 34px;
	      height: 34px;
	      background: #393e41;
		  border: 1px solid  #393e41;
		  
	      border-radius: 50%
}
.shupaikuang .yanse{
	margin-top: 20px;
}
.shupaikuang .yanse li{
	float: left;margin-left: 30px;margin-bottom: 10px;
}
/* 颜色结束 */

/* 最后小字开始 */
.shupaikuang .xiaozi{
	position: relative;top: 20px;
}
.shupaikuang .zuihou{
	margin-left: 24px;
	margin-top: 40px;
	font-size: 18px;color: #666666;
}
.shupaikuang .jindutiao{
	margin-left: 15px;margin-top: 10px;
}
/* 竖排文本框结束 */
/* 商城模块 */
.shangceng{
	width: 815px;
	height: 1163px;

	float: left;
}
.shangceng .yigekuang{
	width: 199px;
	height: 380px;
	background-color: #FFFFFF;
	float: left; margin-top:10px ;margin-left: 4px;
}

.shangceng .yigekuang .jiage3{
	font-size: 14px;color: #666666;font-weight: 800;
	margin-left: 2px;margin-top: 4px;
}
.shangceng .yigekuang .wenben{
	width: 186px;
	height: 60px;
	margin-left: 5px;margin-top: 5px;
}
.shangceng .yigekuang .wenben p{
	font-size: 8px;color: #999999;font-weight: 600;
	
}

.shumapai{
	position: relative;
	left: 250px;
}

.shumapai ul li {
	float: left;
	margin-left: 30px;
	margin-top: 30px;
}
/* 内容结束 */

/* 底部开始 */
.dibu{
	height: 415px;
	background-color: #2a292d;
	margin-top: 86px;}
	
.dibu .dibubeijin{
	width: 1200px;
	height: 415px;
	
	margin: 0 auto;
	overflow: hidden;
}
.dibu .dibubeijin .liebiao{
	width: 800px;
	height: 200px;
	
	position: absolute;
	margin-top: 115px;
	
}

.dibu .dibubeijin .liebiao ul{
	float: left;
	margin-right: 96px;
	margin-top: 66px;
	
}
.dibu .dibubeijin .liebiao ul li{
	font-size: 20px;
	line-height: 30px;
	list-style-type: none;
	color: #FFFFFF;
}
.dibu .dibubeijin .liebiao ul .a{
	width: 80px;
	height: 40px;
	
	position: relative;
	top: -40px;
}
.dibu .dibubeijin .zouxiu{
	width: 262px;
	height: 132px;
	
	float: right;
	margin-top: 119px;
	}
.dibu .dibubeijin .beianhao {
	width: 600px;
	
	margin: 0 auto;
	margin-top: 369px;
}
.dibu .dibubeijin .beianhao ul li {
	font-size: 14px;
	color: #FFFFFF;
	float: left;
	list-style-type: none;
	margin-right: 10px;
}	
/* 底部结束 */	